<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8">

<title>Login</title>

<style>
body {
	font-family: Arial;
	background: #f4f4f4;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container {
	width: 350px;
	background: white;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0 0 10px gray;
}

input {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
}

button {
	width: 100%;
	padding: 10px;
	background: #4CAF50;
	color: white;
	border: none;
	cursor: pointer;
}

.error {
	color: red;
}

.logout {
	color: green;
}
</style>

</head>

<body>

	<div class="container">

		<h2 align="center">Login</h2>

		<div th:if="${param.error}" class="error">Invalid Username or
			Password</div>

		<div th:if="${param.logout}" class="logout">Logout Successful</div>

		<form th:action="@{/login}" method="post">

			<input type="text" name="username" placeholder="Username" required>

			<input type="password" name="password" placeholder="Password"
				required>

			<button type="submit">Login</button>

		</form>

	</div>

</body>

</html>